 .clickhere-button {
        background-color: red;
        color: rgb(246, 246, 250);
        border-radius: 50px;
        border: none;
        height: 45px;
        width: 90px;
        cursor: pointer;
        margin-left: 8px;
        transition: background-color 0.3s, color 1s;
        padding-top: 1px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
      }
      .clickhere-button:hover {
        background-color: blue;
        opacity: 0.5;
      }
      .clickhere-button:active {
        background-color: black;
        opacity: 0.5;
        transition-duration: 0.5;
      }

      .redirect-button {
        background-color: blue;
        border-radius: 100px;
        margin-left: 8px;
        box-shadow: 8px 8px 15px rgba(59, 130, 246, 0.5);
      }

      <style></style>